body {
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}
.container {
    max-width: 768px;
    width: 60%;
    border-radius: 10px;
    border: 1px solid #ccc;
    border-top: .9px;
    padding: 3rem;
    margin-top: 5rem;
}
input{
    width: 100%;
    padding: .5rem;
    font-size: 1rem;
}
input:focus {
    border-bottom: 2px solid #ccc;
}
input, button {
    outline: none;
    border: none;
    height: 2.5rem;
    color: #333;
    font-size: 1rem;
}
button {
    width: 30%;
    background: #eee;
    float: left;
    margin-top: 1rem;
}
button:hover{
    background: green;
}
.container form .submit-button {
    min-width: 90%;
}
.todo-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.todo-container ul {
    list-style: none;
    float: left;
    padding: 0;
}
li, .todo-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    background: #eee;
    padding: 1rem;
    margin: 1rem 0
}
.remove-btn{
    width: 20%;
    background: #ddd;
    color: white;
    max-height: 100px;
    padding: 0.7rem;
}
.remove-btn:hover{
    background: red;
}